.welcome-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-cream);
    margin-bottom: 5px; 
  }
  
 
  .welcome-text {
    font-family: var(--font-family);
    font-size: 24px; 
    font-weight: bold;
    color: #333; 
    padding: 10px; 
    background-color:  rgba(195, 182, 129, 0.44);
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
  }
  